@tile-padding-sm: 10px;
@tile-size-sm-inner: 130px;
@tile-size-sm: @tile-size-sm-inner + (@tile-padding-sm * 2);

.one-line() {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.tile-list {
    .clearfix;
    .tile {
        float: left;
    }
}

.tile {
    display: inline-block;
    background-color: #404040;
    color: #f0f0f0;
    overflow: hidden;
    text-decoration: none;
}

.tile-sm {
    .tile;
    height: @tile-size-sm;

    .tile-frame {
        height: @tile-size-sm-inner;
        width: @tile-size-sm;
        margin: @tile-padding-sm;
        position: relative;
        overflow: hidden;
    }

    &.tile-number, .tile-number {
        .value {
            font-size: 80px;
            text-align: center;
        }
    }

    &.tile-text, .tile-text {
        .value {
            font-size: 28px;
            line-height: 28px;
            max-height: 4em;
        }
    }

    .value {
        display: block;
        max-height: @tile-size-sm * 0.8;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .label {
        position: absolute;
        bottom: 0;
        right: 0;
        width: @tile-size-sm-inner;
        text-align: right;
        .one-line;
    }

    &[data-frames='2'] .tile-frames {
        -o-animation: scroll-sm-frames-2 5s ease-in infinite;
        -moz-animation: scroll-sm-frames-2 5s ease-in infinite;
        -webkit-animation: scroll-sm-frames-2 5s ease-in infinite;
        animation: scroll-sm-frames-2 5s ease-in infinite;
    }

    &[data-frames='3'] .tile-frames {
        -o-animation: scroll-sm-frames-3 7.5s ease-in infinite;
        -moz-animation: scroll-sm-frames-3 7.5s ease-in infinite;
        -webkit-animation: scroll-sm-frames-3 7.5s ease-in infinite;
        animation: scroll-sm-frames-3 7.5s ease-in infinite;
    }
}

@tile-offset-sm: @tile-padding-sm + @tile-size-sm * -1;

@-moz-keyframes scroll-sm-frames-2 {
    0% { margin-top: 0; }
    40% { margin-top: 0; }
    50% { margin-top: @tile-offset-sm; }
    90% { margin-top: @tile-offset-sm; }
    100% { margin-top: 0; }
}

@-webkit-keyframes scroll-sm-frames-2 {
    0% { margin-top: 0; }
    40% { margin-top: 0; }
    50% { margin-top: @tile-offset-sm; }
    90% { margin-top: @tile-offset-sm; }
    100% { margin-top: 0; }
}

@keyframes scroll-sm-frames-2 {
    0% { margin-top: 0; }
    40% { margin-top: 0; }
    50% { margin-top: @tile-offset-sm; }
    90% { margin-top: @tile-offset-sm; }
    100% { margin-top: 0; }
}

@-moz-keyframes scroll-sm-frames-3 {
    0% { margin-top: 0; }
    26% { margin-top: 0; }
    32% { margin-top: @tile-offset-sm; }
    58% { margin-top: @tile-offset-sm; }
    64% { margin-top: @tile-offset-sm * 2; }
    90% { margin-top: @tile-offset-sm * 2; }
    100% { margin-top: 0; }
}

@-webkit-keyframes scroll-sm-frames-3 {
    0% { margin-top: 0; }
    26% { margin-top: 0; }
    32% { margin-top: @tile-offset-sm; }
    58% { margin-top: @tile-offset-sm; }
    64% { margin-top: @tile-offset-sm * 2; }
    90% { margin-top: @tile-offset-sm * 2; }
    100% { margin-top: 0; }
}

@keyframes scroll-sm-frames-3 {
    0% { margin-top: 0; }
    26% { margin-top: 0; }
    32% { margin-top: @tile-offset-sm; }
    58% { margin-top: @tile-offset-sm; }
    64% { margin-top: @tile-offset-sm * 2; }
    90% { margin-top: @tile-offset-sm * 2; }
    100% { margin-top: 0; }
}
