.tile-list .tile {
    float: left;
}

.tile-sm {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #404040;
    color: #f0f0f0;
    position: relative;
}

.tile-sm.tile-number .value {
    font-size: 80px;
    text-align: center;
}

.tile-sm.tile-text .value {
    font-size: 28px;
    line-height: 28px;
    max-height: 4em;
}

.tile-sm .value {
    display: block;
    max-height: 120px;
    overflow: hidden;
}

.tile-sm .label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 130px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
